body {
    background: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    /* font-style: italic */
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;  
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    /* text-transform: uppercase;
    text-decoration: underline */
    color: white;
    margin: 0;
    /* margin: 0px 500px 10px 20px; */
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #17253B;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;

}

.header {
    background-color: #fff;
    color: #17253B;
    display: flex;
    height: 120px;
    align-content: center;
    justify-content: space-between;
}

figure {
    margin: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu {
    height: inherit;
}

.header a {
    color: #17253B;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    display: flex;
    height: inherit;
}

.hero {
    height: 250px;
    /* background-image: url("../images/light-bulbs.jpg"); */
    /*background-color: #57575A;*/
    background-image: url("../images/earth.jpg");
    /* background-size: 500px 200px;
    background-repeat: no-repeat;
    background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    object-fit: cover;
}

.habilidades {
    padding: 20px;
    margin: 10px;
}

.portafolio {
    background-image: url("../images/earth.jpg");
    padding: 20px;
}

.portafolio h2 {
    color: #fff;
}

.project {
    border: 1px solid grey;
    border-radius: 10px;
    background: white;
    /* margin: 20px; */
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.project-details,
.project-tech,
.project-date h6 {
    margin: 0;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px
}

.project-details {
    width: 500px;
    margin: 10px 20px;
}
 .project-image img {
     width: 650px;
     height: 400px;
 }

 .project-description {
     font-size: 20px;
 }

 .footer {
     color: white;
     background-color: #57575A;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .footer img {
     height: 100px;
     width: 160px;
     vertical-align: middle;
 }

 .footer a {
     color: white;
 }

 .event-list {
     display: flex;
     flex-wrap: wrap;
 }

 .event {
     margin: 10px;
     width: 480px;
     flex-shrink: 0;
     border-radius: 10px;
     overflow: hidden;
     background: #d0d0d0;
 }

 .event img {
     width: 480px;
     height: 200px;
     object-fit: cover;
 }

 .event-details {
     margin: 20px 40px; 
     margin-top: -40px;
     background: white;
     position: relative;
     padding: 20px;
     text-align: center;
 }

 .event-description {
     text-align: left;
 }

 .event-url {
    color: #026FFF;
    border: 1px solid #026FFF;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
 }

 .event-list-title {
     margin: 20px;
 }

 .contact {
     background: #026FFF;
     color: white;
     height: 150px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .social {
    background-size: 50px 50px;
 }

 .social-link {
     display: inline-block;
     height: 50px;
     width: 50px;
     background-size: 50px 50px;
     margin: 0 10px;
 }

 .social-link.twitter {
     background-image: url('../images/twitter.svg');
 }
 .social-link.facebook {
     background-image: url('../images/facebook.svg');
 }
 .social-link.github {
     background-image: url('../images/github.svg');
 }
 .social-link.instagram {
     background-image: url('../images/instagram.svg');
 }
 .social-link.youtube {
     background-image: url('../images/youtube.svg');
 }

 .form-email input {
     width: 300px;
     border-color: gray;
     border-style: solid;
     border-radius: 5px;
     padding: 10px 20px 10px 25px;
     background-image: url('../images/message.svg');
     background-size: 15px 15px;
     background-repeat: no-repeat;
     background-position-y: center;
     background-position-x: 5px;
 }

 .form-email button {
     display: block;
     background: transparent;
     color: white;
     padding: 10px 0;
     border: 1px solid white;
     border-radius: 5px;
     width: 100px;
     margin-top: 10px;
 }

 .container {
     /* border: 1px solid red; */
     width: 1200px;
     margin: 0 auto;
     display: inherit;
     justify-content: inherit;
     align-items: inherit;
     height: inherit;
     flex-wrap: wrap;
 }